<h1>Grab N Grub</h1>

<%= form_tag '/signin' do %>
  <%= label_tag :email%><%= email_field_tag :email %>
  <%= label_tag :password%><%= password_field_tag :password %>
  <%= submit_tag :signin %>
<% end %>
  